
books/OReilly-Hands-on-Machine Learning with Scikit-Learn, Keras & Tensorflow(2.0)/chapter_2/.ipynb_checkpoints
books/OReilly-Hands-on-Machine Learning with Scikit-Learn, Keras & Tensorflow(2.0)/chapter_2/.ipynb_checkpoints/02_end_to_end_machine_learning_project-checkpoint.ipynb
